@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300;400&display=swap');

h1, h2, nav{
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, .85);
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
nav img{
  width: 75%;
}

#problematica-link, 
#solucao-link,
#parceria-link, 
#formulario-link,
#equipe-link,
#fim{
  height: 100px;
}
.itens{
  height: 50px;
  width: 50px;
  position: relative;
  left: 47%;
  top: 30%;
}
/* Menu de Navegação */
h1{
  color: #FFF7F3;
  font-size: 1.5em;
 }
header{
  background-color: rgba(0, 0, 0, .85);
  backdrop-filter: saturate(120%) blur(10px);
  display: flex;
  width: 100%;
  /* height: 70px; */
  padding: 10px;
  /* justify-content: space-between; */
  align-items: center;
  box-shadow: 5px 10px 18px #888888; /*sombra menu*/
  position: sticky; /* menu fixo no topo*/
  top: 0;
}

.sticky a:hover {
  background-color: rgba(0, 0, 0, .70);
  border-radius: 5px;
}
header ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-left: auto;
}
header ul li a{
  color: #e6e6e6;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
}
header li{
  padding-left: 3%;
  padding-right: 3%;
}
/* Fim Menu */

main{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
section{
  background-color: #e6e6e6;
  border-radius: 30px;
  margin: 1%;
  padding: 3%;
  flex: 1 1 30%; /* flex-grow: 1; flex-shrink: 1; flex-basis: 31%;*/
}

/* Divs e Descrição */
h2{
  margin: 0 0 15px 0;
}
p{
  margin-bottom: 0;
  text-align: justify;
}
.painel-blur {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2em;
  }
#problematica{
  background-color: #F5A333;
  padding: 2em;
}
#solucao{
  background-color: #7F3A8F;
  padding: 2em;
}
#parceria{
  background-color: #13EAC3;
  padding: 2em;
}
#formulario{
  background-color: #80C04E;
  padding: 2em;
}
#equipe{
  background-color: #F11864 ;
  padding: 2em;
}

/* Formulário */
*{
  box-sizing: border-box;
}
.form{
  font-family: 'Poppins', sans-serif;
  background-color: #e6e6e6;
  padding: 20px;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea {
  font-size: 1em;
  width: 100%;
  margin: 0 0 15px;
  height: 50px;
  padding: 10px 10px 10px 50px;
  background-position: 5px center;
  border: .5px solid #e6e6e6;
  background-repeat: no-repeat;
}
.form textarea{
  font-family: 'Poppins', sans-serif;
  height: 150px;
  padding-left: 15px;
  resize: none;
}
.form textarea::placeholder{
  font-family: 'Poppins', sans-serif;
}
.submit{
  text-align: right;
}
.form .submit input{
  cursor: pointer;
  
  border: none;
  width: 100px;
  background-color: #e6e6e6;
  padding: 10px;
  font-size: 1.2em;
  transition-duration: 0.4s;
}
#submit:hover{
  background-color: #80C04E;
  color: white;
}
.form .submit input:hover{
  background-color: #80C04E;
}
.user{
  background-image: url(../img/icon/user2.png);
}
.email{
  background-image: url(../img/icon/email2.png);
}
.phone{
  background-image: url(../img/icon/telefone2.png);
}

/*Equipe*/

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.img-equipe{
  height: 90px;
  width: 90px;
  border-radius: 50px;
  border: 5px solid #F11864;
}

h3{
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 5px;
}
.item p{
  margin-top: 0px;
}
.item{
  height: 200px;
  width: 220px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.75s;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}
.item:hover{
  box-shadow: 10px 10px 7px rgba(0,0,0,0.3);
}

/* Media Query */
@media screen and (max-width: 800px){
  main{
    width: 100%;
  }
}
@media screen and (max-width: 800px){
  main{
    width: 100%;
  }
  header ul{
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Footer */
footer{
  width: 100%;
  height: 200px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, .85);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rodape h2, small{ 
  color: #FFF7F3;
  text-decoration: none;
}

a:-webkit-any-link {
  color: #FFF7F3;
  cursor: pointer;
  text-decoration: none;
}
.fa {
  color: #FFF7F3;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}


/* Cores 
fiap: 7E1335
b2w: 13EAC3
azul: #0390D3
roxo: #7F3A8F
laranja: #F5A333
verde: #80C04E
*/