@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300;400&display=swap');

h1, img{
 text-align: center;
}

h1, h2, nav{
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


section{
    background-color: #FFF7F3; /* E1E6E6 F0EDFF*/ 
    margin: 1%;
    flex: 1 1 30%; /* flex-grow: 1; flex-shrink: 1; flex-basis: 31%;*/
}

nav ul{
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-between;
}
/* Comeco codigo do Paulo */
nav{
    display: block;
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: rgba(0, 0, 0, .85);
    backdrop-filter: blur(15px) ;
}

nav div{
    text-align: center;
}
nav div a{
    color: #FFF7F3;
    padding: 3%;
}

.container{
    background-color: #9b9b9b;
    box-sizing: border-box;
    width: 100%;
    align-content: center;
    padding-left: 15px;
    margin: auto;
}
